/* Outfit font-family import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Master Reset */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* # Variables */
:root {

    /* ## Colors */

    /* ### Primary */

    --SOFTBLUE: hsl(215, 51%, 70%);
    --CYAN: hsl(178, 100%, 50%);

    /* ### Neutral */

    --VERYDARKBLUEMBG: hsl(217, 54%, 11%);
    /* (main BG) */
    --VERYDARKBLUECBG: hsl(216, 50%, 16%);
    /* (card BG) */
    --VERYDARKBLUELINE: hsl(215, 32%, 27%);
    /* (line) */
    --WHITE: hsl(0, 0%, 100%);

}

body {
    background-color: var(--VERYDARKBLUEMBG);
    color: var(--WHITE);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}


.card {
    background-color: var(--VERYDARKBLUECBG);
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    height: 540px;
    justify-content: space-between;
    left: 50%;
    padding: 24px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 327px;
}

img.nft-img {
    border-radius: 10px;
    width: 279px;
}

/* hover view icon position and size */
img.icon-view {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

/* block for image hover effect */
.hover-effect {
    border-radius: 10px;
    height: 279px;
    opacity: 0;
    position: absolute;
    top: 24px;
    width: 279px;
}

.hover-effect:hover {
    cursor: pointer;
    opacity: 100%;
}

/* image hover color effect */
.icon-background {
    background-color: var(--CYAN);
    border-radius: 10px;
    height: 279px;
    opacity: 50%;
    width: 279px;
}

h1 {
    justify-self: flex-end;
    letter-spacing: -1px;
}

.nft_description {
    line-height: 155%;
}

/* NFT Price and Time flags */
.auction {
    display: flex;
    justify-content: space-between;
}

p.price {
    color: var(--CYAN);
}

p.price::before {
    background-size: contain;
    background: url("images/icon-ethereum.svg") no-repeat;
    content: "";
    display: inline-block;
    float: left;
    height: 20px;
    margin: 0 -2px 0 0;
    transform: translateY(10%);
    width: 20px;
}

p.time::before {
    background-size: contain;
    background: url("images/icon-clock.svg") no-repeat;
    content: "";
    display: inline-block;
    float: left;
    height: 20px;
    margin: 0 3px 0 0;
    transform: translateY(10%);
    width: 20px;
}

/* NFT creator section */
.trademark {
    align-items: center;
    border-top: 1px solid var(--VERYDARKBLUELINE);
    display: flex;
    gap: 15px;
    padding-top: 16px;
}

.trademark img {
    border: 1px solid;
    border-radius: 17px;
    height: 34px;
    width: 34px;
}

/* NFT name and Creator link hover effects */
h1:hover,
.creator:hover {
    color: var(--CYAN);
    cursor: pointer;
}

/* Text styles */
._bold_txt {
    font-weight: 600;
}

._light_txt {
    color: var(--SOFTBLUE);
    font-weight: 300;
}